body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	display: flex;
}

.container {
	width: 100%;
	height: 100%;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

.router-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
}

#labels {
	position: absolute; /* let us position ourself inside the container */
	left: 0; /* make our position the top left of the container */
	top: 0;
	color: white;
	width: 25rem;
}
#labels > div {
	position: absolute; /* let us position them inside the container */
	left: 0; /* make their default position the top left of the container */
	top: 0;
	cursor: pointer; /* change the cursor to a hand when over us */
	font-size: large;
	user-select: none; /* don't let the text get selected */
	text-shadow:         /* create a black outline */ -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
		1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* COULEUR FOND */
	background-color: #333333;
	opacity: 1;
	transition: 1s opacity;
}

#loading-screen.fade-out {
	opacity: 0;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	position: relative;
}

h1:after {
	position: absolute;
	content: '';
	-webkit-animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
	animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
}

.loader {
	margin: 5% auto 30px;
}

.book {
	border: 4px solid #ffffff;
	width: 300px;
	height: 225px;
	position: relative;
	perspective: 750px;
}

.page {
	display: block;
	width: 150px;
	height: 225px;
	border: 4px solid #ffffff;
	/* COULEUR FOND */
	border-left: 1px solid #333333;
	margin: 0;
	position: absolute;
	right: -4px;
	top: -4px;
	overflow: hidden;
	/* COULEUR FOND */
	background: #333333;
	transform-style: preserve-3d;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.book .page:nth-child(1) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
}

.book .page:nth-child(2) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
}

.book .page:nth-child(3) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}

/* Page turn */

@-webkit-keyframes pageTurn {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	20% {
		/* COULEUR PAGE */
		background: #555555;
	}
	40% {
		/* COULEUR FOND */
		background: #333333;
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		/* COULEUR FOND */
		background: #333333;
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
}

@keyframes pageTurn {
	0% {
		transform: rotateY(0deg);
	}
	20% {
		/* COULEUR PAGE*/
		background: #555555;
	}
	40% {
		/* COULEUR FOND */
		background: #333333;
		transform: rotateY(-180deg);
	}
	100% {
		/* COULEUR FOND */
		background: #333333;
		transform: rotateY(-180deg);
	}
}
